<%- include ("../partials/header") %> <%- include ("../partials/categories-navbar") %>
<div class="container mt-4 mb-5">
  <!-- Flash messages -->
  <div class="row mt-3 mb-3">
    <div class="col-md-8 m-auto">
      <% if (errorMsg) { %>
      <div id="error" class="alert alert-danger">
        <%= errorMsg %>
      </div>
      <% } else { %>
      <div id="error" class="alert alert-danger d-none"></div>
      <% } %>
    </div>
  </div>
  <div class="col-md-8 m-auto">
    <!-- Checkout form -->
    <form action="http://localhost:8081/api/checkout" method="POST" id="checkout-form">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <p>Receipt Id  : <span id="receiptId"><%= receiptId %></span></p>
            <label for="card-email">Email Id</label>
            <input type="text" id="card-email" class="form-control" required />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="total-bill">Total Bill</label>
            <input type="Number" disabled id="total-bill" step='0.01' class="form-control" value="<%= total %>" />
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label for="mobile-number">Mobile Number</label>
            <input
              type="text"
              pattern="\d*"
              minlength="10"
              maxlength="10"
              id="mobile-number"
              class="form-control"
              required
              name="mobile-number"
              placeholder="9876543210"
            />

            <span style="margin-left: 5px; color: gray;  font-size: small;">*only digits allow</span>
          </div>
        </div>
      
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </div>
      <button id="submit-btn" type="submit" class="btn btn-dark button-style">
        Buy now
      </button>
    </form>
  </div>
</div>


<script type="text/javascript" src="http://localhost:8081/api/javascripts/checkout.js"></script>

<%- include ("../partials/footer") %>
