<%- include ("../partials/header") %> <%- include ("../partials/categories-navbar") %>

<div class="container">
    <h3 class="text-center mt-4 mb-3">My Wishlist</h3>
    <% for(var i = 0; i < products.length; ++i) { %>
        <div class="card mt-4 border-primary flex-row flex-wrap">
            <div class="card-header d-flex flex-column justify-content-center">
                <% if(products[i].imgs[0].substring(0,4)=='http'){%>
                    <img src="<%= products[i].imgs[0] %>" alt="Insert Image" width="130">
                    <%}else{%>
                        <img src="http://localhost:8081/inventoryservice/products/<%= products[i].imgs[0] %>" alt="Insert Image" width="130">
                      <%}%>
               
            </div>
            <div class="card-body">
                <h5 class="card-title">Product Name: <%= products[i].title %></h5>
                <p class="card-text">Brand: <%= products[i].manufacturer.companyName %></p>
                <p class="card-text">Product price: <%= products[i].price%></p>
                <a class="card-link btn btn-primary mt-auto" href="http://localhost:8081/api/products/<%=products[i].category.slug%>/<%=products[i].productCode%>">View Product</a>
                <a class="card-link btn btn-danger mt-auto" href="http://localhost:8081/bookmark-service/remove-from-bookmarks/<%= products[i].productCode%>">
                    Remove Product
                </a>
            </div>
        </div>
    <%}%>
    
</div>